orth {
  font-weight: bold;
}
hi[rend=sup] {
  vertical-align: super;
  font-size: smaller;
}
hi[rend=ital] {
  font-style: italic;
}
itype,
gen,
pos {
  font-style: italic;
}
sense {
  display: block;
}
usg, bibl {
  font-weight: bold;
}
bibl author {
  font-style: italic;
}
sense[n]::before,
entryFree[n]::before {
  content: attr(n) ". ";
  font-weight: bold;
}
sense[level="1"] {
  margin-left: 1em;
}
sense[level="2"] {
  margin-left: 2em;
}
sense[level="3"] {
  margin-left: 3em;
}
sense[level="4"] {
  margin-left: 4em;
}
sense[level="5"] {
  margin-left: 5em;
}
sense[level="6"] {
  margin-left: 6em;
}
foreign {
  color: navy;
}
etym::before {
  content: '[';
}
etym::after {
  content: ']';
}
quote::before {
  content: '«';
}
quote::after {
  content: '»';
}
entryFree[type="hapax"]::before {
  content: '* ';
}
entryFree[type="hapax"][n]::before {
  content: "* " attr(n) ". ";
  font-weight: bold;
}

entryFree[type="greek"]::before {
  content: '† ';
}
entryFree[type="greek"][n]::before {
  content: "† " attr(n) ". ";
  font-weight: bold;
}
entryFree[type="foreign"]::before {
  content: '†† ';
}
entryFree[type="foreign"][n]::before {
  content: "†† " attr(n) ". ";
  font-weight: bold;
}

entryFree[type="gloss"]::before {
  content: '‡ ';
}
entryFree[type="gloss"][n]::before {
  content: "‡ " attr(n) ". ";
  font-weight: bold;
}

entryFree[type="spur"]::before {
  content: '(';
}
entryFree[type="spur"][n]::before {
  content: "(" attr(n) ". ";
  font-weight: bold;
}
entryFree[type="spur"]::after {
  content: ')';
}
